* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@mixin flexbox($dir, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

#landing-page {
  @include flexbox(column, start, center);
  height: 100vh;
  background: linear-gradient(0deg, #5963254d, #2c330333),
    url("../images/army.png");
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    width: 320px;
    height: 290px;
  }
  .container {
    @include flexbox(column, center, center);
    width: 30%;
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
    background: linear-gradient(#596325, #2c3303);
    form {
      div {
        @include flexbox(column, center, center);

        span {
          font-family: "Poppins", sans-serif;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
          margin-top: 20px;
        }
        //   img {
        //     width: 15rem;
        //     height: 10rem;
        //     border-radius: 30%;
        //   }
      }
      div {
        input {
          color: #000000;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          width: 90%;
          height: 40px;
          background: transparent;
          border: groove;
          border-color: darkgreen;
          border-radius: 10px;
          outline: none;
          text-align: center;
          margin-bottom: 20px;
          margin-top: 20px;
          &::placeholder {
            color: #000000;
          }
        }
        button {
          color: #000000;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          min-width: 120px;
          height: 50px;
          background: transparent;
          border: groove;
          border-color: darkgreen;
          border-radius: 25px;
          transition: 0.6s;
          cursor: pointer;
          outline: none;
          margin-top: 20px;
          &:hover {
            background: linear-gradient(#596325, #2c3303);
          }
        }
      }
    }
  }
}

#intro-game {
  background: linear-gradient(0deg, #59632541, #2c33033a),
    url("../images/line.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 38rem;
    height: 37rem;
  }
  // .start {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 22rem;
  //   button {
  //     color: #000000;
  //     font-family: "Poppins", sans-serif;
  //     font-size: 16px;
  //     min-width: 200px;
  //     height: 100px;
  //     background: transparent;
  //     border: groove;
  //     border-color: darkgreen;
  //     border-radius: 25px;
  //     transition: 0.6s;
  //     cursor: pointer;
  //     outline: none;
  //     &:hover {
  //       background: linear-gradient(#7b8a33, #4e5a09);
  //     }
  //   }
  // }
}
#game {
  background: linear-gradient(0deg, #59632596, #2c330354),
    url("../images/grass.jpg");
  background-size: cover;
  height: 150vh;
  padding-top: 10rem;

  .logo {
    width: 150px;
    height: 140px;
  }
  .sheep {
    height: 25rem;
    width: auto;
  }
}
