* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes animation {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: -200px;
    top: -100px;
  }
  20% {
    left: -40px;
    top: -180px;
  }
  30% {
    left: 200px;
    top: -80px;
  }
  40% {
    left: 60px;
    top: -10px;
  }
  50% {
    left: -100px;
    top: 60px;
  }
  60% {
    left: -220px;
    top: 120px;
  }
  70% {
    left: -150px;
    top: 180px;
  }
  80% {
    left: 100px;
    top: 90px;
  }
  90% {
    left: 200px;
    top: -10px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@mixin flexbox($dir, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

#landing-page {
  @include flexbox(column, start, center);
  height: 100vh;
  background: linear-gradient(0deg, #5963254d, #2c330333),
    url("../images/army.png");
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    width: 320px;
    height: 290px;
  }
  .container {
    @include flexbox(column, center, center);
    width: 30%;
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
    background: linear-gradient(#596325, #2c3303);
    div {
      @include flexbox(column, center, center);

      span {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        color: #000000;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      //   img {
      //     width: 15rem;
      //     height: 10rem;
      //     border-radius: 30%;
      //   }
    }
    div {
      input {
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        width: 90%;
        height: 40px;
        background: transparent;
        border: groove;
        border-color: darkgreen;
        border-radius: 10px;
        outline: none;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        &::placeholder {
          color: #000000;
        }
      }
      button {
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        min-width: 120px;
        height: 50px;
        background: transparent;
        border: groove;
        border-color: darkgreen;
        border-radius: 25px;
        transition: 0.6s;
        cursor: pointer;
        outline: none;
        margin-top: 20px;
        &:hover {
          background: linear-gradient(#596325, #2c3303);
        }
      }
    }
  }
}

// #intro-game {
//   background: linear-gradient(0deg, #59632541, #2c33033a),
//     url("../images/line.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .logo {
//     width: 38rem;
//     height: 37rem;
//   }
// .start {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 22rem;
//   button {
//     color: #000000;
//     font-family: "Poppins", sans-serif;
//     font-size: 16px;
//     min-width: 200px;
//     height: 100px;
//     background: transparent;
//     border: groove;
//     border-color: darkgreen;
//     border-radius: 25px;
//     transition: 0.6s;
//     cursor: pointer;
//     outline: none;
//     &:hover {
//       background: linear-gradient(#7b8a33, #4e5a09);
//     }
//   }
// }
// }
#game {
  background: linear-gradient(0deg, #59632562, #2c33035b),
    url("../images/grass.jpg");
  background-size: cover;
  height: auto;
  nav {
    @include flexbox(row, space-between, center);
    background: linear-gradient(0deg, #596325a8, #2c330375);
    margin-bottom: 5px;
    padding-bottom: 5px;

    .logo {
      width: 140px;
      height: 130px;
    }
    .user-name-box {
      @include flexbox(column, center, center);
      width: 50%;
      height: 100%;
      color: white;
      font-size: larger;
    }
    div {
      margin: 0 10px 0 20px;

      .counter {
        @include flexbox(column, center, center);
        width: 100px;
        height: 100px;
        background-color: #5261096c;
        color: white;
        border-style: double;
        .counter-display {
          font-size: 60px;
        }
        .text {
          font-size: 20px;
          color: white;
          text-align: center;
        }
      }
      .counter-button {
        button {
          border-radius: 50%;
          width: 100px;
          height: 70px;
          background-color: #5261096c;
          color: white;
          border-color: white;
          border-style: inset;
          font-size: 50px;
          cursor: pointer;
          outline: none;
          z-index: 1;

          &:hover {
            background-color: #526109d2;
            font-size: 60px;
            transition: 0.5s;
            border-style: outset;
          }
        }
      }
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .cage {
      background: linear-gradient(0deg, #59632580, #2c330367),
        url("../images/grass.jpg");
      background-size: cover;
      height: 75vh;
      width: 75%;
      border: 5px dashed #654321;
      margin-bottom: 10px;

      #sheep {
        height: 8rem;
        width: 10rem;
        background: url("../images/sheep01.png") no-repeat;
        display: inline-block;
        background-size: cover;
        background-position-y: 50%;
        background-position-x: 50%;
        position: relative;
        animation-name: animation;
        animation-duration: 30s;
        animation-delay: 4s;
        animation-iteration-count: infinite;
      }
    }
  }
  #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
      position: relative;
      background-color: #6e8029;
      margin: auto;
      padding: 20px;
      border: 1px solid #2c330367;
      width: 50%;
      height: 70%;
      .close {
        position: absolute;
        top: 0;
        right: 15px;
        background-color: transparent;
        color: #aaaaaa;
        font-size: 45px;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          color: #000;
        }
      }
      .modal-body {
        @include flexbox(column, center, center);
        .sheep {
          height: 32rem;
          width: 25rem;
        }
        .counter {
          position: absolute;
          top: 10px;
          @include flexbox(column, center, center);
          width: 100px;
          height: 100px;
          background-color: #5261096c;
          color: white;
          border-style: double;
          .counter-display {
            font-size: 60px;
          }
        }
        div {
          position: absolute;
          bottom: 10px;
          .counter-minus {
            border-radius: 10%;
            width: 90px;
            height: 50px;
            background-color: transparent;
            color: white;
            border-color: white;
            border-style: outset;
            font-size: 40px;
            cursor: pointer;
            outline: none;
            z-index: 1;

            &:hover {
              background-color: #526109b9;
              transition: 0.5s;
              font-size: 44px;

              border-style: inset;
            }
          }

          .counter-plus {
            border-radius: 10%;
            width: 90px;
            height: 50px;
            background-color: transparent;
            color: white;
            border-color: white;
            border-style: inset;
            font-size: 40px;
            cursor: pointer;
            outline: none;
            z-index: 1;

            &:hover {
              background-color: #526109b9;
              transition: 0.5s;
              font-size: 44px;

              border-style: outset;
            }
          }
        }
      }
    }
  }
}
